body {
    font-family: "Arial", sans-serif;
    background-color:rgba(2, 2, 2, 0.171)
}

h1, h2, h3 {
    font-family: "lobster", cursive;
}

h2 {
    color: #000000;
}

header h2 {
    color: #070707;
}

.site-footer {
    background-image: linear-gradient(#096131, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #095e2c, #215f40, #7bbe9f);
    color: rgb(2, 2, 2);
}

.row-content {
    padding: 70px 0;
    border-bottom: 10px dotted;
    min-height: 200px;
}

.navbar {
    background-color: #0b4615;
}

.tab-content {
    border: 20px dotted #DDD;
    border-top: dotted;
    padding: 20px;
}

.carousel-caption {
    background-color: rgba(7, 105, 59, 0.603);
}

.carousel {
    border: solid #020008;
}